<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form">
        <form action="/get_json" method="post">
            <label for="json_input">JSON Data:</label>
            <textarea name="json_input" id="json_input" cols="30" rows="10" placeholder="Input JSON Schema...">
            </textarea>
            <input type="submit">
        </form>
    </div>

    <div>
        <pre>
            {{ data }}
        </pre>
    </div>
</body>
</html>